<!doctype html>
<html lang="en">
<head>
  <title>Production History</title>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Time', 'Production (W)'],
        {% for item in productionData %}
           [ '{{ item[0] }}', {{ item[1] }} ],
        {% endfor %}
      ]);

      var options = {
        title: 'Production for {{ date }}',
        hAxis: {title: 'Year', titleTextStyle: {color: 'red'}}
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

      chart.draw(data, options);
    }
  </script>
</head>

<body>
  <div id="chart_div" style="width: 900px; height: 500px;"></div>
</body>

</html>
